Flask==3.1.0
flask-cors==5.0.1
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
gunicorn==23.0.0
scikit-learn==1.6.1
SQLAlchemy==2.0.40
statsbomb==0.3.0
statsbombpy==1.16.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
Werkzeug==3.1.3

